.footer {
    background-color: #2a2a40;
    display: flex;
    justify-content: center;
    overflow: hidden;
    color: #dfdfe2;
    

    &__address {
        margin: 20px;
        text-align: center;
        padding: 0.5rem;
    }

    a {
        color: inherit;
    }
}